#php_flag register_globals OFF
#php_flag display_errors on

Options +FollowSymLinks
Options -Multiviews
RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1
